<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue学习</title>
	<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css" />
	<script type="text/javascript" src="./js/vue.js"></script>
	<script type="text/javascript" src="./js/axios.min.js"></script>
	<script type="text/javascript" src="./js/lodash.min.js"></script>
</head>
<style>
	.green{color:green}
	.color{color:red}
	.font{font-size:100px}
</style>
<body>
	<div id="app">
		<div class="col-6">
			<ul class="list-group">
				<li class="list-group-item" v-for="(v,index) in students">
					{{v.name}}---{{v.gender}}
				</li>
			</ul>
			{{cate}}
			<input type="radio" v-model="cate" value="all">全部
			<input type="radio" v-model="cate" value="boy">男
			<input type="radio" v-model="cate" value="girl">女
		</div>
	</div>
</body>
<script type="text/javascript">
	const app = new Vue({
		el:'#app',
		computed:{
			students(){
				if(this.cate == 'all') {
					return this.users;
				} else {
					return this.users.filter((v)=>{
						return v.gender == this.cate;
					})
				}
			}
		},
		data:{
			cate:'all',
			users:[
				{name:'张三',gender:'boy'},
				{name:'赵丽颖',gender:'girl'},
				{name:'曹颖',gender:'girl'},
				{name:'李三风',gender:'boy'},
				{name:'刘诗诗',gender:'girl'},
			]
		},
		methods:{

		}
	})
</script>
</html>